.blog-box{
  display: flex;
  flex-direction: column;
  align-items:center;
margin-bottom: 80px;
      h2{
        @include fon(600,64px,77px);
         color:$primaryColor;
          margin-bottom: 24px;
      }
     p{
      margin-bottom: 80px;
     }
      div{
        display: grid;
        width: 700px;
         grid-template-columns: 2fr 0.5fr;

           input{
            border-radius: 20px;
            padding-left: 10px;
            border:1px solid rgb(0, 0, 0,0.1);

             &:focus{
             outline: none;
             }
           }
      }

}